body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:111px;
  width:369px;
  height:656px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:656px;
}
#u3 {
  position:absolute;
  left:2px;
  top:320px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:342px;
  top:132px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:47px;
  top:373px;
  width:233px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:46px;
  top:440px;
  width:342px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:47px;
  top:512px;
  width:342px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:46px;
  top:583px;
  width:342px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:46px;
  top:654px;
  width:342px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:40px;
  top:714px;
  width:110px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:160px;
  top:716px;
  width:120px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:284px;
  top:715px;
  width:114px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:389px;
  top:352px;
  width:150px;
  height:80px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u14 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:290px;
  top:373px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:610px;
  top:234px;
  width:254px;
  height:328px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:328px;
}
#u17 {
  position:absolute;
  left:2px;
  top:156px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:610px;
  top:240px;
  width:254px;
  height:328px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:328px;
}
#u19 {
  position:absolute;
  left:2px;
  top:156px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:375px;
  top:141px;
  width:10px;
  height:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:388px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:286px;
  top:384px;
  width:100px;
  height:29px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:158px;
  top:450px;
  width:10px;
  height:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:158px;
  top:520px;
  width:10px;
  height:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:110px;
  top:718px;
  width:10px;
  height:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:240px;
  top:720px;
  width:10px;
  height:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:360px;
  top:720px;
  width:10px;
  height:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
