body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:810px;
  width:430px;
  height:171px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:171px;
}
#u3 {
  position:absolute;
  left:2px;
  top:78px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:768px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:768px;
}
#u5 {
  position:absolute;
  left:2px;
  top:376px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
