body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:111px;
  width:370px;
  height:658px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:658px;
}
#u3 {
  position:absolute;
  left:2px;
  top:321px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:35px;
  top:714px;
  width:110px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:155px;
  top:716px;
  width:120px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:279px;
  top:715px;
  width:114px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:50px;
  top:190px;
  width:330px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:50px;
  top:250px;
  width:330px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:50px;
  top:330px;
  width:330px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:50px;
  top:390px;
  width:330px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:50px;
  top:440px;
  width:330px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:50px;
  top:520px;
  width:330px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:50px;
  top:580px;
  width:330px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:110px;
  top:718px;
  width:10px;
  height:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:240px;
  top:720px;
  width:10px;
  height:10px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:360px;
  top:720px;
  width:10px;
  height:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:133px;
  top:532px;
  width:10px;
  height:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:132px;
  top:588px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:210px;
  top:450px;
  width:10px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:169px;
  top:395px;
  width:10px;
  height:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:169px;
  top:340px;
  width:10px;
  height:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:168px;
  top:254px;
  width:10px;
  height:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:169px;
  top:200px;
  width:10px;
  height:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
