body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:110px;
  width:371px;
  height:660px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
}
#u3 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:329px;
  top:393px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:340px;
  top:140px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:221px;
  top:330px;
  width:159px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:50px;
  top:204px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:110px;
  top:204px;
  width:60px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:180px;
  top:190px;
  width:80px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:270px;
  top:204px;
  width:53px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:332px;
  top:205px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:380px;
  top:210px;
  width:10px;
  height:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:320px;
  top:210px;
  width:10px;
  height:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:258px;
  top:192px;
  width:10px;
  height:10px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:167px;
  top:207px;
  width:10px;
  height:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:99px;
  top:211px;
  width:10px;
  height:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:379px;
  top:397px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:319px;
  top:340px;
  width:10px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:54px;
  top:335px;
  width:160px;
  height:38px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u27 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:52px;
  top:328px;
  width:169px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:150px;
  top:341px;
  width:10px;
  height:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:586px;
  top:176px;
  width:254px;
  height:328px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:328px;
}
#u32 {
  position:absolute;
  left:2px;
  top:156px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:586px;
  top:182px;
  width:254px;
  height:328px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:328px;
}
#u34 {
  position:absolute;
  left:2px;
  top:156px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
